// TODO refactor

body {
  background-color: #282c34;
  overflow: hidden;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
  overflow-y: hidden;
}

.chat-room-header {
  background-color: rgb(52, 95, 185);
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.chat-room-header svg {
  font-size: 3.2rem;
  margin-right: 10px;
}

.chat-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-title {
  font-size: 1.5rem;
}

main {
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6a81c8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(52, 95, 185);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

form button {
  text-align: center;
}

form button .send-svg {
  font-size: 2.7rem;
  fill: #fff;
}

form svg {
  font-size: 3rem;
  padding: 0 5px;
  color: #fff;
}

input {
  height: 65%;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  color: rgb(24, 24, 24);
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
}

button {
  background: none;
  border: none;
  text-align: center;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.sign-out {
  margin-left: auto;
  margin-right: 0;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: black;
  background-color: rgb(209, 204, 204);
  align-self: flex-end;
}
.received p {
  color: white;
  background-color: rgb(52, 95, 185);
}
